@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

html{
    font-size: 16px;
}

body{
    background-color: yellow;
    color: #7B68EE;
    font-family: "Rubik Moonrocks";
    font-weight: 400;
    font-style: normal;
    
}
body{
    background-color: #FFEFD5 ;
}

h1{
    color: blueviolet;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 400;
    text-align: center;
    font-style: italic;
    color: rgb(255, 127, 159)
}

h1  {
    font-size: 4.209rem;
    line height: 1;
    letter-spacing: 1px;
    text-shadow: 34px 15px 2px black, 2px 2px 2px blue;
   
}

h2  {
    font-size: 3.157rem;
    line-height: 1.1;
    color: white;
    text-shadow: 1px 2px 0px red, 4px 4px 0px orange, 6px 6px 0px yellow, 8px 8px 0px greenyellow, 10px 10px 0px blue, 12px 12px 0px violet 
    ;
}

h3{
    font-size: 2.369rem;
    color: snow;
    line-height: 1.2;
    text-shadow: 1px 2px 0px lightblue, 4px 4px 0px rgb(0, 183, 255), 6px 6px 0px rgb(0, 162, 255), 8px 8px 0px rgb(47, 102, 255)
}

h4{ 
    font-size: 1.769rem;
    line-height: 1.3}

h5{
    font-size: 1.333rem;
    line-height: 1.4;}

h6{
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 4px;
    text-transform: uppercase;}

p{
    text-align: justify;
    line-height: 1.5;
    text-transform: capitalize;
    text-indent: 80px;
}
css-sandbox {
    color: magenta;
}
h1{
    font-variant: small-caps;
}
strong {
    text-decoration: underline;
}