@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

body{
    background-color: yellow;
    font-family: "Rubik Moonrocks";
    font-weight: 500;
    font-style: normal;
}
body{
    background-color: yellow;
}

h1{
    color: blueviolet;
}
.main-heding {
    color: yellow;
}

css-sandbox {
    color: magenta;
}